@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
}

body {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/*CSS Login Page*/

#body-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-box {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 60%;
    max-width: 500px;
    border: 2px groove rgb(158, 158, 7);
    background-color: rgba(255, 255, 1, 0.76);
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.63);
    text-align: center;
}

h1 {
    color: brown;
    padding-bottom: 30px;
    font-family: 'Press Start 2P', cursive;
}

#user-name {
    margin-bottom: 10px;
}

#login-input {
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: lightyellow;
}

#submit-btn {
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: black;
    color: bisque;
    border: 1px solid bisque;
}

/*CSS Game page*/

#body-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-header {
    margin-bottom: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    height: 90vh;
    width: 90vh;
    background-color: aqua;
    gap: 15PX;
}

.cards {
    aspect-ratio: 3/4;
    width: 100%;
    background-color: red;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-color: blue;
    backface-visibility: hidden;
}

.cards:hover {
    transform: rotateY(180deg);
}